.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: url(../../../images/plus.svg) transparent center no-repeat;
    transition: 0.3s;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .profile__add-button {
        width: 282px;
    }
}