.popup__container_img {
  max-width: 75vw;
  width: auto;
  max-height: 75vh;
  background: transparent;
  box-shadow: none;
  border-radius: none;
  color: white;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}