.profile__pencil {
  background: url(../../../images/pencil_avatar.svg);
  width: 26px;
  height: 26px;
  position: absolute;
  top: 47px;
  bottom: 47px;
  left: 47px;
  right: 47px;
  opacity: 0;
  transition: 0.5;
  z-index: 3;
}
